<h2>Por Capital</h2>
<hr />

<div class="row mb-4">
  <div class="col">
    <shared-search-box
      placeholder="Buscar por capital"
      [defaultValue]="searchTerm"
      (onSearch)="onSearch($event)"
      (onDebounce)="onSearch($event)"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <shared-loader *ngIf="enableLoader" [isLoading]="isLoading"></shared-loader>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
