.loader-container {
  align-items: center;
  background-color: #000;
  border-radius: 20px;
  top: 15px;
  right: 15px;
  color: #fff;
  display: flex;
  padding: 5px 10px;
  position: fixed;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
